:root{
--color1:#EDE7E3;
--color2: #000; 
--color3: #e48257; 
--color4:#393232;
--boxwidth: 100vw;
--boxheight:100vh;
--middlewidth:50vw;
--middleheight:50vh;
--font-title:2rem;
--font-first-title:4rem;
--font-content:1rem;
}

@font-face {
  font-family: 'Decovar';
  src: url(../fonts/DecovarAlpha-VF.ttf) format("truetype");
  font-weight: 200;

  font-family: 'Gelasio';
  src: url(../fonts/Gelasio-Regular.ttf) format("truetype");
  font-weight: 200;
}

body{
  overflow: hidden;
}


/* MENU */
.menu-toggle {
  display: inline-block;
}

.menu-toggle img{
  height: 3em;
  width: 3em;
}

.main-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left : -1500px;
  height: 100%;
  transition: all 3s ease;
  z-index: 999;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 1px solid transparent;
        }

.main-menu ul {
    min-height: 100%;
    width: 100vw;
    background: var(--color4);
    margin: 0;
    padding: 4.5em 0 0;
    text-align: center;
}

.main-menu li  {
 width: 15em;
    margin: auto;
}

.main-menu li a {
  padding: .75em 15px;
  line-height: 4em;
  font-size: var(--font-title);
  color: var(--color1);
  text-decoration: none;
}

.main-menu li:hover {
  background-color: var(--color1);
  width: 15em;
  margin: auto;  
}
.main-menu li:hover a{
  font-size: var(--font-title);  
  color: var(--color4)
}
.main-menu:target{
  left: 0;
}

.main-menu:target .cont{
  left: 0;
}

.main-menu:target .menu-close {
  z-index: 1001;
  width: 3em;
  height: 3em;
  padding: .75em 15px;
  margin: 1em 2em;
}

.main-menu:target + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}


/*PRESENTATION CONCEPT*/
.container{
  margin: 15vh auto 10vh;
}

.container span {
  text-transform: uppercase;
  display: block; 
}

.container h1 {
  font-family: 'Decovar';
  font-variation-settings:'TRMD' 1000;
  color: var(--color4);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: var(--color1);
  position: relative;
  animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

.container h2 {
  font-family: 'Decovar';
 font-size: 25px;
  color:var(--color3) ;
}

@keyframes text {
  0% {
    color: #EDE7E3;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 20px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
  100% {
    color: #685044;
    margin-bottom: 20px;
  }
}
::-moz-selection {
  font-family: 'Decovar';
  background: #EDE7E3;
  color: #000;
}

::selection {
  font-family: 'Decovar';
  background: #EDE7E3;
  color: #000;
}

.content-aparition {
 width: 45em;
margin: auto;
line-height: 2em;}

.content-aparition span {
  opacity: 1;
  overflow: hidden;
  -webkit-animation: rotateWord 18s linear 1;
  -ms-animation: rotateWord 18s linear 1 ;
  animation: rotateWord 18s linear 1 ;
  font-family: 'Gelasio';
  font-size: var(--font-content);
  color :var(--color4);}


@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  45% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  45% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
 
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  45% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* BOUTON DECOUVRIR*/

.btn-discover {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-discover a{
    text-decoration: none;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.discover {
  color: var(--color3);
  transition: all 0.3s;
  position: relative;
  animation: rotateWord 18s linear 1;
}
.discover span {
  transition: all 0.3s;
}
.discover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: var(--color3);
  border-bottom-color: var(--color3);
  transform: scale(0.1, 1);
}
.discover:hover span {
  letter-spacing: 2px;
}
.discover:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.discover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.discover:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

/*SVG EMPREINTE */


.footprint{
    width: 5vw;
    animation: footPrint 5s; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    position: absolute;
    transition: ease-in;
    bottom: 5vh;
    fill: #c5b6ad;
 }
.footprint--1{
      right: 25vw;
      animation-delay: 1s;}

.footprint--2{
      right: 20vw;
      animation-delay: 2s;}

.footprint-second{
    width: 5vw;
    animation: footPrint 5s; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    position: absolute;
    transition: linear;
    top: 20vh;
    fill: #c5b6ad}

.footprint--3{
      left: 7vw;
      animation-delay: 3s;
      opacity :0;}

.footprint--4{
      left: 5vw;
      animation-delay: 4s;
      opacity :0;}

.footprint-three{
    width: 7vw;
    animation: footPrintdown 5s; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    position: absolute;
    transition: ease-out;
    top: 0vh;
    fill: #c5b6ad
 }

.footprint--5{
      top: 15vh;
      left: 55vw;
      top: 5vh;
      left: 45vw;
      animation-delay: 5s;
      opacity :0;}
.footprint--6{
     top: 5vh;
      left: 45vw;
      animation-delay: 6s;
      opacity :0;}


.footprint-four{
    width: 7vw;
    animation: footPrint 5s; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    position: absolute;
    transition: ease-out;
    bottom: 0vh;
    fill: #c5b6ad
 }

.footprint--7{
      bottom: 5vh;
      left: 5vw;
      bottom: 0vh;
      left: 0vw;
      animation-delay: 7s;
      opacity :0;}
.footprint--8 {
     bottom: : 0vh;
      left: 0vw;
      animation-delay: 8s;
      opacity :0;}


 @keyframes footPrint{
  0%{opacity: 0}
  10%{opacity: 1;transform: translateX(50px) translateY(-50px);}
  25%{opacity: 0;transform: translateX(100px) translateY(-100px);}
  50%{opacity: 1;transform: translateX(200px) translateY(-120px);}
  75%{opacity: 0;transform: translateX(300px) translateY(-140px);}
  90%{opacity: 1;transform: translateX(400px) translateY(-160px);}
  99%{opacity: 1;transform: translateX(500px) translateY(-180px);}
  100%{opacity: 0;transform: translateX(500px) translateY(-180px);}
*}
 
 @keyframes footPrintdown{
  0%{opacity: 1}
  10%{opacity: 0;transform: translateX(50px) translateY(50px);}
  25%{opacity: 1;transform: translateX(100px) translateY(100px);}
  50%{opacity: 0;transform: translateX(200px) translateY(120px);}
  75%{opacity: 1;transform: translateX(300px) translateY(140px);}
  90%{opacity: 0;transform: translateX(400px) translateY(160px);}
  100%{opacity: 0;transform: translateX(500px) translateY(-180px);}
*}

/*RESPONSIVE */
@media screen and (max-width: 768px) {
  .rw-sentence {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .rw-sentence {
    font-size: 9px;
  }
  