@font-face {
  font-family: 'Decovar';
  src: url(../fonts/DecovarAlpha-VF.ttf) format("truetype");
  font-weight: 200;
}
.home {
	scroll-behavior: smooth;
	overflow: scroll;
	overscroll-behavior-y: contain;
}

.presentation{
  text-align: center;
  margin: 5vw 10vw;
  line-height: 2em;
}
#item1 h1{
  font-family: 'Decovar';
  font-variation-settings: 'BLDA' 1000;
  font-size: 1.5em;
  margin: 100px 0px;
}

#item1 h1:hover{
  font-family: 'Decovar';
  font-variation-settings: 'BLDA' 0;
  font-size: 1.5em;
  margin: 100px 0px;
  letter-spacing: 10px;
  transition: all .3s ease-in;
}

#item1 span{
  font-family: 'Decovar';
  font-variation-settings: 'WMX2' 300;
  font-size: 2.5em;
}

#grid{
  display: grid;
  transition: transform 0.8s ease-in-out;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  
}

#grid a{
  text-decoration:none;
  text-align:center;
  padding:5px 0;
  color:white;
  font-family: 'Decovar';
}

.filter {
  text-decoration:none;
  text-align:center;
  padding:5px 0;
  color:white;
  font-size: 1.5em;
  background:black;  
  font-variation-settings: 'TRMD' 1000;

}

.filter a{
  text-decoration:none;
  text-align:center;
  padding:5px 0;
  color:white;
  font-variation-settings: 'TRMD' 1000;
}


.box-filter{
 display:block;
 height:25vh;
 font-size: 3em;
 -webkit-transition:all .5s linear;
 -moz-transition:all .5s linear;
 -o-transition:all .5s linear;
 -ms-transition:all .5s linear;
 transition:all .5s linear;
 margin-top:20px;
 text-align: center;
  font-variation-settings: 'BLDA' 1000;
}

.box-filter a{
  text-decoration:none;
  font-size: 3em;
  text-align:center;
  padding:5px 0;
  color:white;
  font-variation-settings: 'BLDA' 1000;
}

.box-filter:hover {
  text-decoration:none;
  text-align:center;
  padding:5px 0;
  color:white;
  font-variation-settings: 'BLDA' 0;
}

.box-filter p{
 display:none;
}

.box-filter:hover p{
 display:contents;
}

a:focus[data-filter]{
    opacity:.8;
    outline:none;
}



div[data-filter="oiseaux"]{
  background:#ccc0a9;
  color:white;
  text-transform: uppercase;
}

div[data-filter="rongeur"]{
  background:#d5c2a0;
  color:white;
  text-transform: uppercase;
}

div[data-filter="feliformes"]{
  background:#e1c694;
  color:white;
  text-transform: uppercase;
}

div[data-filter="bovides"]{
  background:#e6c78f;
  color:white;
  text-transform: uppercase;
}

div[data-filter="all"]{
  background:#e6c78f;
  color:white;
  text-transform: uppercase;
}

div[data-filter="mamifere"]{
  background:#edc988;
  color:white;
  text-transform: uppercase;
}

a[data-filter="rongeur"]:focus ~ div:not([data-filter="rongeur"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;

}


a[data-filter="feliformes"]:focus ~ div:not([data-filter="feliformes"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;

}

a[data-filter="bovides"]:focus ~ div:not([data-filter="bovides"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;

}

a[data-filter="oiseaux"]:focus ~ div:not([data-filter="oiseaux"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;

}
a[data-filter="mamifere"]:focus ~ div:not([data-filter="mamifere"]){
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;

}